body {
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
}
.header {
    display: flex;
    align-items: center;
    background-color: white;
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
.header img {
    height: 50px;
}
.nav {
    display: flex;
    flex: 1;
    justify-content: space-between;
    margin-left: 550px;
}
.nav a {
    color: black;
    text-decoration: none;
    margin: 0 10px;
    position: relative;
}
.nav a:hover {
    color: #00aae4;
}

.inscribete {
    background-color: #00aae4;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
}

/*______________________________________________________*/

.banner {
    background: url('../img/banner.webp') no-repeat center center;
    background-size: cover;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner-text {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 20px;
    padding: 20px;
    text-align: center;
    width: 100%;
    max-width: 1000px;
}

.banner-text p {
    margin: 0;
}

.banner-text h1 {
    margin-top: 20px;
    font-size: 24px;
    font-weight: bold;
}

body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f9f9f9;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.accordion {
    width: 80%;
    margin: 0 auto;
    max-width: 600px;
}

.accordion-item {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
}

.accordion-header {
    background: #007BFF;
    color: #fff;
    cursor: pointer;
    padding: 15px;
    text-align: left;
    border: none;
    outline: none;
    width: 100%;
    font-size: 18px;
    transition: background-color 0.3s ease;
}

.accordion-header:hover {
    background-color: #0056b3;
}

.accordion-content {
    padding: 15px;
    display: none;
    border-top: 1px solid #ddd;
    background-color: #f9f9f9;
}

.accordion-content p {
    margin: 0;
}
