
header{
    background-color: rgb(2, 2, 68);
    padding: 20px;
    color: white;
}

.perfil{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}





.resumen div{
    display: flex;
    justify-content: space-between;    
}

.profile {
    display: flex;
    flex-wrap: wrap;

}

 .profile-header{
    flex: 1;
    border-color: rgb(46, 46, 175);
    border-style: solid;
    border-width: 5px 0px 0px 0px;
    border-radius: 1%;
    margin: 10px;
}

.profile-mas{
    flex: 2;
    margin: 10px;
}

 .student-data{
   
    border-color: yellow;
    border-style: solid;
    border-width: 5px 0px 0px 0px;
    border-radius: 1%; 
 
}

.profile-info{

    border-color: yellow;
    border-style: solid;
    border-width: 5px 0px 0px 0px;
    border-radius: 1%;
}
.profile-info span{
    font-weight: bold;
}

h2{
    margin: 10px;
}

.student-data span {
    font-weight: bold;
}

.matri2 p{
    background-color: rgb(2, 2, 68);
    color: white;
    padding: 10px;
    font-weight: bold;
    border-radius: 5px;
   
}


.matri {
border-style: solid;
border-width: 1px;
border-color: rgb(2, 2, 68);
border-radius: 5px;
padding: 10px;
}

.nivelacion{
    background-color: rgb(223, 223, 0);
    border-radius: 5px;
    padding: 20px;
    color: white;
    border-style: solid;
    border-color: rgb(224, 157, 11);
    border-width: 0px 0px 0px 5px;
}

.cursos div{
    display: flex;
    justify-content: space-between;
}